<a href="https://colab.research.google.com/github/EdwardJChC/RNAi_data_HCM/blob/main/learning_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Use the next commats to upload data from drive, local or github

In [ ]:
print("What's up")

What's up

In [ ]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import torch

In [ ]:
print(tf.__version__)

2.12.0

In [ ]:
pip install gym

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gym in /usr/local/lib/python3.9/dist-packages (0.25.2)
Requirement already satisfied: cloudpickle>=1.2.0 in /usr/local/lib/python3.9/dist-packages (from gym) (2.2.1)
Requirement already satisfied: importlib-metadata>=4.8.0 in /usr/local/lib/python3.9/dist-packages (from gym) (6.1.0)
Requirement already satisfied: numpy>=1.18.0 in /usr/local/lib/python3.9/dist-packages (from gym) (1.22.4)
Requirement already satisfied: gym-notices>=0.0.4 in /usr/local/lib/python3.9/dist-packages (from gym) (0.0.8)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata>=4.8.0->gym) (3.15.0)

In [ ]:
import gym

markdown

In [18]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
!wget https://github.com/EdwardJChC/RNAi_data_HCM/blob/main/T31_SCDcurve.csv

--2023-04-08 15:12:06--  https://github.com/EdwardJChC/RNAi_data_HCM/blob/main/T31_SCDcurve.csv
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘T31_SCDcurve.csv’

T31_SCDcurve.csv        [ <=>                ] 345.38K  --.-KB/s    in 0.02s

2023-04-08 15:12:06 (17.0 MB/s) - ‘T31_SCDcurve.csv’ saved [353668]

In [4]:
!ls

drive  sample_data  T31_SCDcurve.csv

In [5]:
import pandas as pd

In [19]:
pd.read_csv('/content/drive/MyDrive/RNAi/Stats/T31_SCDcurve.csv')

,Column1,Area,Mean,Solidity,Date,RNAi_treat,Column2
0,1,7609.803,8193.955,0.376,230110,230110_0.8_pAPi,NaN
1,2,2589.641,7386.578,0.757,230110,230110_0.8_pAPi,NaN
2,3,5312.846,6305.763,0.281,230110,230110_0.8_pAPi,NaN
3,4,15070.377,8524.016,0.290,230110,230110_0.8_pAPi,NaN
4,5,6263.453,8322.760,0.330,230110,230110_0.8_pAPi,NaN
...,...,...,...,...,...,...,...
560,717,2616.024,5508.741,0.723,230110,230110_1.25_SCD1i,NaN
561,817,6490.181,7027.133,0.511,230110,230110_1.25_SCD1i,NaN
562,917,6264.277,8554.170,0.612,230110,230110_1.25_SCD1i,NaN
563,1016,3455.329,8103.921,0.812,230110,230110_1.25_SCD1i,NaN
564,1116,3743.067,7124.842,0.728,230110,230110_1.25_SCD1i,NaN

In [16]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [20]:
!git clone https://github.com/EdwardJChC/RNAi_data_HCM

Cloning into 'RNAi_data_HCM'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (6/6), 10.05 KiB | 5.03 MiB/s, done.

In [21]:
!git clone https://github.com/tttianhao/CLEAN

Cloning into 'CLEAN'...
remote: Enumerating objects: 892, done.
remote: Counting objects: 100% (83/83), done.
remote: Compressing objects: 100% (59/59), done.
remote: Total 892 (delta 36), reused 52 (delta 20), pack-reused 809
Receiving objects: 100% (892/892), 391.39 MiB | 21.06 MiB/s, done.
Resolving deltas: 100% (483/483), done.
Updating files: 100% (39/39), done.

# This *is* **heading** 

```
this is formatted as  code 
for item in list:
print(item)

```

hello

$ax^2 +bx +c =0$

> `Indented block`



---